﻿@using Fr.EQL.AI110.DLD_GE.Entities
@using Fr.EQL.AI110.DLD_GE.WebApp2.Models
@model CreateDonViewModel

<div class="basket-main-container">
    <h1>Tous les donneurs</h1>
    <div class="basket-container">
        <div class="basket-products">
            @if (Model.Adherents.Count() != 0)
            {
                @foreach (Adherent a in Model.Adherents)
                {
                    <div class="product">
                        <img src="/images/product.jpg">
                        <div class="product-info">
                            <h3 class="product-name">Dons de @a.Nom</h3>
                            <h4 class="product-other-info">@a.NbDon don(s)</h4>
                            <a asp-action="DisplayDonFromAdh" asp-route-id="@a.Idadh"><button class="details">Detail</button></a>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="product">
                    <img src="/images/product.jpg" />
                    <div class="product-info">
                        <h3 class="product-name">Aucun adherent a de panier actif</h3>
                    </div>
                </div>
            }
        </div>
    </div>
</div>