﻿@using Fr.EQL.AI110.DLD_GE.Entities
@using Fr.EQL.AI110.DLD_GE.WebApp2.Models
@model CreateDonViewModel


<form method="post">
    <div class="search home-search">
        <select class="search-box" asp-for="Idville">
            <option value="0">ville</option>
            @foreach (Ville v in Model.Villes)
            {
                <option value="@v.Idville">@v.Nom</option>
            }
        </select>
        <input type="submit" class="search-btn" value="Trier" />
    </div>
</form>

<div class="don-container">
    <div class="don-container-row">
        @if (Model.InfrastockageDetails.Count == 0)
        {
            <h1>Aucune infrastructure de stockage disponible actuellement 肮脏的</h1>
        }
        @foreach (InfrastockageDetails i in Model.InfrastockageDetails)
        {
            
            <div class="don-container-card-col">
                <img src="/images/infrapartner.png">
                <h4>@i.Nomsociete</h4>
                @if (i.Libelevoie != null)
                {
                    <h5>@i.Numrue @i.Libelevoie</h5>
                    <h5>@i.Codepostal @i.Nom</h5>
                    <h5>Nombre d'emplacement disponible : @i.NbEmpDispo</h5>
                }
                @if (i.Libelevoie == null)
                {
                    <h5>@i.NumruePart @i.LibelevoiePart</h5>
                    <h5>@i.Codepostal @i.Nom</h5>
                    <h5>Nombre d'emplacement disponible : @i.NbEmpDispo</h5>
                }
                <form method="post" asp-controller="don"
                  asp-action="InfoEmplacementPartenaire"
                  asp-route-id="@i.Idinfrastockage">
                    <input type="hidden" asp-for="@Model.SelectedAdherent.Idadh" />
                    <input type="hidden" asp-for="@Model.SelectedCategorie.IdCategorie" />
                    <input type="hidden" asp-for="@Model.SelectedSousCategorie.IdSousCategorie" />
                    <input type="hidden" asp-for="@Model.SelectedProduit.IdProduit" />
                    <input type="hidden" asp-for="@Model.Don.Quantite" />
                    <input type="hidden" asp-for="@Model.SelectedUnity.IdUnite" />
                    <input type="hidden" asp-for="@Model.Don.DateLimite" />
                    <input type="hidden" asp-for="@Model.InfrastockageDetails" />
                <button class="don-container-card-btn">Choisir</button>
            </form>
            </div>
        }
    </div>
</div>