﻿@using Fr.EQL.AI110.DLD_GE.WebApp2.Models
@model AddBasketViewModel

<form method="post">
    iddon : <input asp-for="@Model.SelectedDon.IdDon" />
    idadh : <input asp-for="@Model.ConnectedAdherent.Idadh" />
    <input type="submit" value="Enregistrer" />
</form>
