﻿@using Fr.EQL.AI110.DLD_GE.Entities
@using Fr.EQL.AI110.DLD_GE.WebApp2.Models
@model List<EmplacementstockageDetails>

    @if (Model.Count == 0)
{
    <h1>Il n'y a pas d'emplacement disponible</h1>
}
<div class="don-container">
    <div class="don-container-row">
        @foreach (EmplacementstockageDetails e in Model)
        {
            <div class="don-container-card-col">
                <img src="/images/emplacement.png">
                <h3>Numéro de l'emplacement: @e.Numemplacement</h3>
                <h3>Numéro de l'infrastockage: @e.Idinfrastockage</h3>
                <h5>Dimension de l'emplacement: @e.Dimension</h5>
                <h5>
                    Adresse:
                    @if (e.LibelevoieInf != null)
                    {
                        @e.NumrueInf @e.ComplementInf @e.LibelevoieInf
                    }
                    @if (e.LibelevoieInf == null)
                    {
                        @e.NumruePart @e.ComplementPart @e.LibelevoiePart
                    }
                </h5>
                <h5>@e.Codepostal @e.Nomville</h5>
            </div>
        }
    </div>
</div>