﻿@using Fr.EQL.AI110.DLD_GE.Entities
@using Fr.EQL.AI110.DLD_GE.WebApp2.Models
@model DonRechercheViewModel

<div class="selection-main-container">
    <h1 class="function-title">Recherche avancée</h1>
<div class="selection-container">
    <form method="post">
        <div class="selection">
        <div class="selection-line">
                <span class="selection-title">Categorie : </span>
            <select asp-for="Nomcategorie">
                <option value="">categorie </option>
                @foreach (Categorie cat in Model.Categories)
                {
                    <option value="@cat.Nom">@cat.Nom</option>
                }
            </select>
        </div>
        <div class="selection-line">
            <span class="selection-title">Sous-Categorie : </span>

            <select asp-for="Nomsouscategorie">
                <option value="">souscategorie</option>
                @foreach (Souscategorie scat in Model.Souscategories)
                {
                    <option value="@scat.Nom">@scat.Nom</option>
                }
            </select>
        </div>
        <div class="selection-line">
            <span class="selection-title">Produit : </span>
            <select asp-for="NomProduit">
                <option value="">produit</option>
                @foreach (Produit p in Model.Produits)
                {
                    <option value="@p.NomProduit">@p.NomProduit</option>
                }
            </select>
        </div>
        <div class="selection-line">
            <span class="selection-title">Ville : </span>
            <select asp-for="Nomville">
                <option value="">ville</option>
                @foreach (Ville v in Model.Villes)
                {
                    <option value="@v.Nom">@v.Nom</option>
                }
                    </select>
        </div>
        <div class="btn-command">
            <input type="submit" value="Rechercher" name="validate" class="next-btn" />
        </div>
        </div>
    </form>
</div>
</div>